*{
    padding: 0%;
    margin: 0%;
}
head{
    background-color: aqua;
}
body{
    width: 100%;
    height: 100%;
}
#mainn{
    /* height: 100vh; */
}
.first{
    height: 90px;
    background-color: aquamarine;
    padding: 15px;
    
    
}
.second_inner{
    display: flex;
    height: 500px;
}
.image1{
    width: 50%;
    height: 100%;
    background-color:blueviolet;
}
.third{
    height: 70px;
    margin-top: 20px;
}
.mainimg{
    height: 200px;
    width: 80%;
    background-image: url("https://img.freepik.com/free-psd/computer-screen-mockup-with-minimalist-decoration_53876-98713.jpg?w=2000");
    background-repeat: none;
    background-size: cover;
    background-position: 50% 30%;
    margin: auto;
    margin-top: 15%;
}
.txt1{
    width: 50%;
    height: 200px;
}
.second{
    background-color: blueviolet
    ;}
.btn btn-success{
    text-align: center;
}
.buttons{
    padding: 30px;
    margin-left: 80px;
}